<a href = '/products'>Back</a>
<% if(product) { %>
    <h1><%=product.name%> </h1>
    <h3><%=product.description%></h3>
    <h3><%=product.base_price%></h3>
    <h3>QTY: <%=product.quantity_on_hand%></h3>
<% } else { %>
    <h1>Product no longer available</h1>
<% } %>